.self-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    height: 200px;
    width: 200px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.self-card:hover{
    cursor: pointer;
}

.self-container{
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}